//Import Google fonts
@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
	margin-left: 5px;
	margin-right: 5px;
}

header {
	margin-top: 5px;
	color: #070B59;
	text-align: center;
	font-weight: bold;
	font-size: 4em;
	font-family: "Lobster", cursive;
	border: 5px solid #4A666A; 
}

@media (min-width: 750px) { //navbar for larger screens
	#navbarsm, #btn, #navbarsm a { //hide small navbar
		display: none;
	}

	#navbarlg {
		position: fixed center;
		top: 110px;
		margin-top: 10px;
		height: 2em;
		text-align: center;
		padding: .2em;
		overflow: hidden;
		background-color: #0F87D7;
		opacity: .7;

		a {
			font-size: 1em;
			font-weight: bold;
			padding: 1em;
			color: #ABF2F2;
		}

		a:hover {
			color: white;
		}

		a:not(:last-child) { 
    		border-right:solid 1px lightgray; // This will not give border to last a element
		}
	}
}

@media (max-width: 749px) { //navbar for smaller screens
	#navbarlg { //hide large navbar
		display: none;
	}

	#navbarsm {
		position: fixed center;
		top: 10px;
		background-color: #0F87D7;
		opacity: .8;
	}

	.navbar-nav a, .navbar .navbar-brand {
		color: #ABF2F2;

	}
	
	.navbar .navbar-brand:hover {
		color: #ABF2F2;

	}

	.navbar-nav a:hover {
		color: white;

	}
}

$bgcolor: #9BF1FF;

body {
	background-color: lighten($bgcolor, 7%);
}