
@media (min-width: 400px) {
	#container {
		margin-top: 160px;
	}

	td {
		width: 32%;
	}

	.carousel-item img {
		width: 450px;
		height: 450px;
		object-fit:scale-down;
	}
}

@media (max-width: 399px) {
	#container {
		margin-top: 120px;
	}

	td {
		display: block;
	}

	.carousel-item img {
		width: 450px;
		height: 300px;
		object-fit:scale-down;
	}
}


#container {
	//top: 170px;
	position: relative;
	display: block;
	padding: 5px;
}

%title {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#friendstitle, #norititle {
	@extend %title;
}

#norititle {
	margin-top: 40px;
}

.carousel {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

table {
	display: block;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: center;
	//margin: 0;
	padding: 0;
}

div.desc {
    padding: 15px;
    text-align: center;
}

a img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	//padding: 0 4px;
}


.carousel-item img {
	//width: 200px;
	//height: 200px;
	//object-fit:scale-down;
	margin-bottom: 10px;
}

.row {
	margin-left: auto !important;
	margin-right: auto !important;
	margin: 0;
	text-align: center;
	padding: 0;
}

td {
	margin-left: auto;
	margin-right: auto;
	//margin: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
	text-align: center;
	border: 2px solid silver;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, .4);
}